name: Random Daily Commits

on:
  schedule:
    - cron: "0 */6 * * *"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  commit:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Create Commit
        run: |
          export TZ=Asia/Kolkata
          git config --global user.name "savetree-1"
          git config --global user.email "143923713+savetree-1@users.noreply.github.com"

          date > activity.txt
          git add activity.txt
          git commit -m "auto commit" --date="$(date)" || echo "nothing"
          git push origin HEAD:main

